{
  "presets": [
    "es2015", "es2016", "es2017", "react", "stage-0", "env"
  ],
  "env": {
      "test": {
        "plugins": ["istanbul"]
      }
    },
  "plugins": [
    [ "module-resolver", {
      "root": [ "./src" ],
    }, "add-module-exports", "transform-decorators-legacy" ],
    "react-hot-loader/babel"
  ],
  "ignore": [
    "node_modules/**/*.js"
  ]
}
