{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "plugins": [
    "babel",
    "react",
  ],
  "globals": {
    "Symbol": true
  },
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/recommended"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "import/extensions": [".js", ".jsx"],
  },
  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "valid-jsdoc": [2, { "requireReturn": false }],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-style": [2, "last"],
    "indent": [2, 2, { "SwitchCase": 1, "VariableDeclarator": 2 }],
    "no-inline-comments": 2,
    "no-spaced-func": 2,
    "operator-linebreak": [2, "after"],
    "padded-blocks": [2, "never"],
    "semi": [2, "always"],
    "semi-spacing": [2, { "before": false, "after": true }],
    "quotes": [2, "double"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "array-bracket-spacing": [2, "always"],
    "computed-property-spacing": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "spaced-comment": [2, "always"],
    "no-var": 2,
    "no-undef": 2,
    "object-shorthand": 2,
  }
}
