# Mac stuff
.DS_Store

# NPM and dependency objects
npm-debug.log*
node_modules

# Auto-created files
dist
build
release
lib
out

# Temporary files
tmp

# Sublime Text
*sublime-workspace
*.sublime-project

# dev mode logs
*.log

coverage
.nyc_output
docs/generated-documentation/


# Nyc
.nyc_output
coverage/
