html, body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: courier;
  background: #fff;  /* fallback for old browsers */
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -20px;
}
.footer,
.push {
  height: 20px;
}

.nav {
  position: fixed !important;
  top: 0px;
}

.footer {
  text-align: center;
  color: #212121;
  font-family: serif;
  font-size: 12px;
  background: rgba(230, 230, 230, 0.44);
  line-height: 1.5em;
}

.logo-container {
  position: absolute;
  top: 20px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #1cbcf1;
  margin: 5px 0px;
}

@keyframes swing {
  0% {
    transform: rotateZ(0deg);
    transform-origin: 0% 100%;
  }

  80% {
    transform: rotateZ(18deg);
    transform-origin: 0% 100%;
  }
  100% {
    transform: rotateZ(28deg);
    transform-origin: 0% 100%;
  }
}

.animate-transform {
  transition: transform 0.5s ease-in
}


.logo-text {
  color: #fff;
  text-align: center;
}

.logo-text > .character {
  position: relative;
  font-family: courier;
  font-weight: bold;
  font-size: 70px;
  color: #1cbcf1;
  transition: all 0.5s ease-in;
  background: transparent;
  margin: 0px 5px;
  padding: 0px 10px;
  display: inline-block;
  text-transform: lowercase;
}

.step {
  margin: 0px 10px !important;
}

.logo-text > .character:hover {
  transition: all 0.3s ease-in;
  transform: scale(1.25);
}

#sculpt-root {
  height: auto !important;
}
.content {
  padding: 0px 25px !important;
}

.character:before,
.character:after {
  content: attr(data-letter);
  position: absolute;
  left: 10px;
  color: transparent;
  transition: all 0.5s ease-in;
}
      
.character:before {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: skew(0deg, 5deg);
  -webkit-transform-origin:0 100% ;
  -ms-transform-style: preserve-3d;
  -ms-transform: skew(0deg, 5deg);
  -ms-transform-origin:0 100% ;
  transform-style:preserve-3d;
  transform: skew(0deg, 5deg);
  transform-origin:0 100% ;
  /* Both shadows are required for browsers that don't support full spread specs and those that do support full spread specs*/
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  text-shadow:0px 3px 5px 1px rgba(0,0,0,0.25);
}

.character:after {
  color: #FFF;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform-style:preserve-3d;
  -webkit-transform: rotateY(30deg);
  -webkit-transform-origin:0 100% ;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  -ms-transform-style:preserve-3d;
  -ms-transform: rotateY(30deg);
  -ms-transform-origin:0 100% ;
  transform-style:preserve-3d;
  transform: rotateY(30deg);
  transform-origin:0 100% ;
  z-index: 100;
}
